
.christmaspeace{
    font-family: cursive;
    color: darkgreen;
}
.christmaschaos{
    font-family: monospace;
    color: gray;
}
.chart{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.scriptures{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}